[submodule "_submodules/meadow"]
	path = _submodules/meadow
	url = https://github.com/tamaskenez/meadow.git
[submodule "_submodules/SDL"]
	path = _submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "_submodules/imgui"]
	path = _submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "_submodules/assimp"]
	path = _submodules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "_submodules/glm"]
	path = _submodules/glm
	url = https://github.com/g-truc/glm.git
